# This configuration sets up HTTPS on the Application Load Balancer
# It's separated from the WebSocket config to avoid conflicts

option_settings:
  # Load Balancer settings
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    
  # HTTPS Listener
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLPolicy: ELBSecurityPolicy-2016-08
    SSLCertificateArns: arn:aws:acm:eu-west-1:405634364397:certificate/71a48ef4-64ad-453d-927b-5bb409846872
